# Ignore all files in the 'build' directory
build/

# Ignore all files ending with .log
*.log

# Ignore all files in the 'node_modules' directory (common for Node.js projects)
node_modules/

# Ignore specific files
.env
**/.DS_Store

# Ignore all files in the 'temp' directory
temp/

# Ignore all files with a specific extension
*.tmp
*.bak

# Ignore all files within a directory, but keep the directory itself
logs/*
!logs/.gitkeep # Exception: keep an empty .gitkeep file within the logs directory

# Ignore a directory anywhere in the repository
**/target/ # Common for Java Maven projects

# Ignore IDE-specific files and directories
.idea/
.vscode/
*.iml

# Python
**/__pycache__/*
